<div class='row'>
  <div class='well span 8'>
    <em>"<%= comment.body %>"</em>
    <br/>
    <span class='quiet'>by</span> <%= link_to comment.author.username, '' %> at <small><%= comment.created_at %></small>
  </div>
</div>
