<div id='post_vote_error' style='display:none' class='alert alert-error'>
  <a class='close' data-dismiss='alert'>x</a>
  <span>You can only vote once.</span>
</div>

<%= render 'shared/content_title', title: 'All Posts' %>

<%= render @posts %>
